<div class="contacts" id="contacts">
	<div class="contacts-title">
		<div class="title-anim-wrap">
			<div class="title-anim">
				<div class="title-anim-item">
					<div>К</div>
					<div>о</div>
					<div>н</div>
					<div>т</div>
					<div>а</div>
					<div>к</div>
					<div>т</div>
					<div>ы</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contacts-body">

		<div class="segments">
			<div class="main-segment segment-animation">
				<img src="../img/contacts/share.png" alt="img">
			</div>
			<div class="tel-segment child-segment">
				<img src="../img/contacts/phone.png" alt="img">
				<a href="tel: +79030448979">+7 (903) 044-89-79</a>
			</div>
			<div class="mail-segment child-segment">
				<img src="../img/contacts/email.png" alt="img">
				<a href="mailto: symphonyofhope@yandex.ru">symphonyofhope@yandex.ru</a>
			</div>
			<div class="telegram-segment child-segment">
				<img src="../img/contacts/telegram.png" alt="img">
				<a href="https://t.me/vshaitanov">vshaitanov</a>
			</div>
			<div class="github-segment child-segment">
				<img src="../img/contacts/github.png" alt="img">
				<a href="https://github.com/Vlad-Shaitanov">github.com/Vlad-Shaitanov</a>
			</div>
		</div>

	</div>
	<div class="contacts-descr">
		<a href="" target="_blank"></a>
	</div>
</div>