<div class="contacts" id="contacts">
	<div class="contacts-title">
		<div class="title-anim-wrap">
			<div class="title-anim">
				<div class="title-anim-item">
					<div>К</div>
					<div>о</div>
					<div>н</div>
					<div>т</div>
					<div>а</div>
					<div>к</div>
					<div>т</div>
					<div>ы</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contacts-body">
		<div class="main-segment">
			<div class="tel-segment"></div>
			<div class="mail-segment"></div>
			<div class="telegram-segment"></div>
			<div class="github-segment"></div>
		</div>

	</div>
</div>