<div class="header-wrap">
	<div class="header-wrap-double">
		<header class="header">
			<div class="logo"></div>

			<nav class="header_menu">
				<ul class="header_list">
					<li><a class="header_link" href="#home">Главная</a></li>
					<li><a class="header_link" href="#skills">Навыки</a></li>
					<li><a class="header_link" href="#works">Работы</a></li>
					<li><a class="header_link" href="#">История</a></li>
					<li><a class="header_link" href="#">Контакты</a></li>
				</ul>
			</nav>
			<div class="header__burger">
				<span></span>
			</div>
		</header>
	</div>
</div>