<section class="skills" id="skills">
	<div class="skills-title">
		<h2>Навыки</h2>
	</div>
	<div class="skills-descr">
		<div class="descr-progs">
			<h3>Инструменты для верстки и программирования:</h3>
			<div class="descr-progs-body">
				<div class="descr-progs-img">
					<img src="../img/html4.png" alt="skill">
				</div>
				<div class="descr-progs-img">
					<img src="../img/css9.png" alt="skill">
				</div>
				<div class="descr-progs-img">
					<img src="../img/js4.png" alt="skill">
				</div>
				<div class="descr-progs-img">
					<img src="../img/gulp4.png" alt="skill">
				</div>
				<div class="descr-progs-img">
					<img src="../img/git.png" alt="skill">
				</div>
				<div class="descr-progs-img">
					<img src="../img/gsap.png" alt="skill">
				</div>
				<div class="descr-progs-img">
					<img src="../img/sass2.png" alt="skill">
				</div>
				<div class="descr-progs-img">
					<img src="../img/react.png" alt="skill">
				</div>
			</div>
		</div>
		<div class="descr-ide">
			<h3>Редакторы кода:</h3>
			<div class="descr-ide-body">
				<div class="descr-ide-img">
					<img src="../img/sublime.png" alt="ide">
				</div>
				<div class="descr-ide-img">
					<img src="../img/vsc2.png" alt="ide">
				</div>
			</div>
		</div>
		<div class="descr-cms">
			<h3>CMS, с которыми я работал:</h3>
			<div class="descr-cms-body">
				<div class="descr-cms-img">
					<img src="../img/wp2.png" alt="cms">
				</div>
			</div>
		</div>
		<div class="descr-grafic">
			<h3>Графические редакторы:</h3>
			<div class="descr-grafic-body">
				<div class="descr-grafic-img">
					<img src="../img/photoshop.png" alt="grafics">
				</div>
			</div>
		</div>
	</div>
</section>