<div class="card-wrap">
	<div class="card" data-rev="0">
		<img src="img/geAAAgC5Y-A-1920.jpg" alt="photo">
		<div class="card-body">
			<div class="card-title">Название работы</div>
			<div class="card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.
			</div>
		</div>
		<div class="card-more">
			<button type="button" class="card-more-descr">Подробнее</button>
		</div>


		<div class="card-reveal">
			<div class="close">&times;</div>
			<div class="card-reveal-text">
				Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Natus et ullam nulla. Dignissimos, aperiam,
				nihil optio, accusamus eaque assumenda ipsam ipsum odit fugit nemo quo, officia porro placeat ea
				perferendis.
			</div>
		</div>

	</div>

	<div class="card" data-rev="1">
		<img src="img/geAAAgC5Y-A-1920.jpg" alt="photo">
		<div class="card-body">
			<div class="card-title">Название работы</div>
			<div class="card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cupiditate accusantium
				dolore et ratione quasi libero officia reprehenderit accusamus, rem praesentium enim doloribus, quae eum
				voluptatibus necessitatibus possimus ipsum alias.
			</div>
		</div>
		<div class="card-more">
			<button type="button" class="card-more-descr">Подробнее</button>
		</div>


		<div class="card-reveal">
			<div class="close">&times;</div>
			<div class="card-reveal-text">
				Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Natus et ullam nulla. Dignissimos, aperiam,
				nihil optio, accusamus eaque assumenda ipsam ipsum odit fugit nemo quo, officia porro placeat ea
				perferendis.
			</div>
		</div>

	</div>

	<div class="card" data-rev="2">
		<img src="img/geAAAgC5Y-A-1920.jpg" alt="photo">
		<div class="card-body">
			<div class="card-title">Название работы</div>
			<div class="card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cupiditate accusantium
				dolore et ratione quasi libero officia reprehenderit accusamus, rem praesentium enim doloribus, quae eum
				voluptatibus necessitatibus possimus ipsum alias.</div>
		</div>
		<div class="card-more">
			<div class="card-more-descr">Подробнее</div>
		</div>

		<div class="card-reveal">
			<div class="close">&times;</div>
			<div class="card-reveal-text">
				Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Natus et ullam nulla. Dignissimos, aperiam,
				nihil optio, accusamus eaque assumenda ipsam ipsum odit fugit nemo quo, officia porro placeat ea
				perferendis.
			</div>
		</div>

	</div>

	<div class="card" data-rev="3">
		<img src="img/geAAAgC5Y-A-1920.jpg" alt="photo">
		<div class="card-body">
			<div class="card-title">Название работы</div>
			<div class="card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cupiditate accusantium
				dolore et ratione quasi libero officia reprehenderit accusamus, rem praesentium enim doloribus, quae eum
				voluptatibus necessitatibus possimus ipsum alias.</div>
		</div>
		<div class="card-more">
			<div class="card-more-descr">Подробнее</div>
		</div>

		<div class="card-reveal">
			<div class="close">&times;</div>
			<div class="card-reveal-text">
				Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Natus et ullam nulla. Dignissimos, aperiam,
				nihil optio, accusamus eaque assumenda ipsam ipsum odit fugit nemo quo, officia porro placeat ea
				perferendis.
			</div>
		</div>

	</div>
</div>